/* 3. Slider */
.slider-area {
  position: relative;
}
.slider-height {
  min-height: 950px;
}
.slider-height-2 {
  min-height: 800px;
}
.single-slider {
  background-size: cover;
  background-position: center center;
}
.slider-content {
  position: relative;
}
.slider-content-box {
  background-image: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0.92) 0%,
    rgba(255, 255, 255, 0.92) 90%,
    transparent 50%
  );
  opacity: 0.5;
  position: absolute;
  height: 120%;
  width: 100%;
  margin: -2rem;
}
.slider-content h1 {
  font-size: 90px;
  font-weight: 300;
  margin-bottom: 23px;
  line-height: 1.1;
  position: inherit;
}
.slider-content p {
  color: #112433;
  font-size: 18px;
  margin-bottom: 0;
  padding-right: 47%;
  position: inherit;
}
.slider-button {
  margin-top: 40px;
}
.slider-button a.btn {
  margin-right: 25px;
}
.slider-button a.btn.secondary {
  margin-right: 25px;
  background: #fab522;
}

.slider-button a.btn.active {
  background: #fab522;
  margin-left: 25px;
}
.slider-button a.btn.secondary::before {
  background: #ef491a;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: 50% 0 0;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
  border-radius: 0;
}
a.btn.secondary:hover::before {
  transform: scaley(1);
}
.slider-button a.btn.secondary.active {
  margin-right: 25px;
  background: #ef491a;
}
.slider-content-3 h1 {
  color: #fff;
  font-size: 80px;
}
.slider-content-3 p {
  padding: 0 150px;
  color: #fff;
}

.slider-active button.slick-arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  border: 0;
  font-size: 16px;
  padding: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  background: #408858;
  transition: 0.3s;
}
.slider-active button.slick-next {
  left: auto;
  right: 78px;
}
.slider-active:hover button {
  opacity: 1;
  visibility: visible;
}
.slider-active button:hover {
  background: #fff;
  color: #112433;
}
